# Copyright 2018-2020 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that provides the Eclipse OpenJ9 implementations of JREs and JDKs"
  homepage = "https://github.com/paketo-buildpacks/eclipse-openj9"
  id = "paketo-buildpacks/eclipse-openj9"
  keywords = ["java", "jvm", "jre", "jdk"]
  name = "Paketo Buildpack for Eclipse OpenJ9"
  sbom-formats = ["application/vnd.cyclonedx+json", "application/vnd.syft+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/eclipse-openj9/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "bin/build", "bin/detect", "bin/helper", "bin/main", "buildpack.toml"]
  pre-package = "scripts/build.sh"

  [[metadata.configurations]]
    default = "0"
    description = "the headroom in memory calculation"
    launch = true
    name = "BPL_JVM_HEAD_ROOM"

  [[metadata.configurations]]
    default = "35% of classes"
    description = "the number of loaded classes in memory calculation"
    launch = true
    name = "BPL_JVM_LOADED_CLASS_COUNT"

  [[metadata.configurations]]
    default = "250"
    description = "the number of threads in memory calculation"
    launch = true
    name = "BPL_JVM_THREAD_COUNT"

  [[metadata.configurations]]
    default = ""
    description = "write heap dumps on error to this path"
    launch = true
    name = "BPL_HEAP_DUMP_PATH"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java Management Extensions (JMX)"
    launch = true
    name = "BPL_JMX_ENABLED"

  [[metadata.configurations]]
    default = "5000"
    description = "configure the JMX port"
    launch = true
    name = "BPL_JMX_PORT"

  [[metadata.configurations]]
    default = "false"
    description = "enables Java remote debugging support"
    launch = true
    name = "BPL_DEBUG_ENABLED"

  [[metadata.configurations]]
    default = "8000"
    description = "configure the remote debugging port"
    launch = true
    name = "BPL_DEBUG_PORT"

  [[metadata.configurations]]
    default = "false"
    description = "configure whether to suspend execution until a debugger has attached"
    launch = true
    name = "BPL_DEBUG_SUSPEND"

  [[metadata.configurations]]
    build = true
    default = "17"
    description = "the Java version"
    name = "BP_JVM_VERSION"

  [[metadata.configurations]]
    build = true
    default = "JRE"
    description = "the JVM type - JDK or JRE"
    name = "BP_JVM_TYPE"

  [[metadata.configurations]]
    build = true
    default = "false"
    description = "enables running jlink tool to generate custom JRE"
    name = "BP_JVM_JLINK_ENABLED"

  [[metadata.configurations]]
    build = true
    default = "--no-man-pages --no-header-files --strip-debug --compress=1"
    description = "configure custom link arguments (--output must be omitted)"
    name = "BP_JVM_JLINK_ARGS"

  [[metadata.configurations]]
    description = "the JVM launch flags"
    launch = true
    name = "JAVA_TOOL_OPTIONS"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:eclipse:openj9:0.38.0:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "OpenJ9 JDK"
    purl = "pkg:generic/ibmruntimes/semeru-jdk@8.0.372"
    sha256 = "dd1edee0a50ac6766268feeaac2a4e95eca83d30d1e0dea7c1e199dc9048f1c0"
    stacks = ["*"]
    uri = "https://github.com/ibmruntimes/semeru8-binaries/releases/download/jdk8u372-b07_openj9-0.38.0/ibm-semeru-open-jdk_x64_linux_8u372b07_openj9-0.38.0.tar.gz"
    version = "8.0.372"

    [[metadata.dependencies.licenses]]
      type = "EPL-2.0 OR Apache-2.0 OR GPL-2.0 WITH Classpath-exception-2.0 OR LicenseRef-GPL-2.0 WITH Assembly-exception"
      uri = "https://github.com/eclipse/openj9/blob/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:eclipse:openj9:0.38.0:*:*:*:*:*:*:*"]
    id = "jre"
    name = "OpenJ9 JRE"
    purl = "pkg:generic/ibmruntimes/semeru-jre@8.0.372"
    sha256 = "ad0829fbd2473704e8103524882bc25625958b6f3038e80f8a99ab926e6b58a3"
    stacks = ["*"]
    uri = "https://github.com/ibmruntimes/semeru8-binaries/releases/download/jdk8u372-b07_openj9-0.38.0/ibm-semeru-open-jre_x64_linux_8u372b07_openj9-0.38.0.tar.gz"
    version = "8.0.372"

    [[metadata.dependencies.licenses]]
      type = "EPL-2.0 OR Apache-2.0 OR GPL-2.0 WITH Classpath-exception-2.0 OR LicenseRef-GPL-2.0 WITH Assembly-exception"
      uri = "https://github.com/eclipse/openj9/blob/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:eclipse:openj9:0.38.0:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "OpenJ9 JDK"
    purl = "pkg:generic/ibmruntimes/semeru-jdk@11.0.19"
    sha256 = "9d76c901480fba1a2611f783450bb3424ee3294b73b00d3290dbfad6d277f9a4"
    stacks = ["*"]
    uri = "https://github.com/ibmruntimes/semeru11-binaries/releases/download/jdk-11.0.19%2B7_openj9-0.38.0/ibm-semeru-open-jdk_x64_linux_11.0.19_7_openj9-0.38.0.tar.gz"
    version = "11.0.19"

    [[metadata.dependencies.licenses]]
      type = "EPL-2.0 OR Apache-2.0 OR GPL-2.0 WITH Classpath-exception-2.0 OR LicenseRef-GPL-2.0 WITH Assembly-exception"
      uri = "https://github.com/eclipse/openj9/blob/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:eclipse:openj9:0.38.0:*:*:*:*:*:*:*"]
    id = "jre"
    name = "OpenJ9 JRE"
    purl = "pkg:generic/ibmruntimes/semeru-jre@11.0.17"
    sha256 = "35c25a4fe4cb1ab1c5e6605bc8dc6db54beca6f3d7745da2742bd0e627682ee3"
    stacks = ["*"]
    uri = "https://github.com/ibmruntimes/semeru11-binaries/releases/download/jdk-11.0.19%2B7_openj9-0.38.0/ibm-semeru-open-jre_x64_linux_11.0.19_7_openj9-0.38.0.tar.gz"
    version = "11.0.19"

    [[metadata.dependencies.licenses]]
      type = "EPL-2.0 OR Apache-2.0 OR GPL-2.0 WITH Classpath-exception-2.0 OR LicenseRef-GPL-2.0 WITH Assembly-exception"
      uri = "https://github.com/eclipse/openj9/blob/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:eclipse:openj9:0.38.0:*:*:*:*:*:*:*"]
    id = "jdk"
    name = "OpenJ9 JDK"
    purl = "pkg:generic/ibmruntimes/semeru-jdk@17.0.7"
    sha256 = "b46177ab82a2506cb858894fafbbbb922bbeefa4be441796e0ef5a8029599dca"
    stacks = ["*"]
    uri = "https://github.com/ibmruntimes/semeru17-binaries/releases/download/jdk-17.0.7%2B7_openj9-0.38.0/ibm-semeru-open-jdk_x64_linux_17.0.7_7_openj9-0.38.0.tar.gz"
    version = "17.0.7"

    [[metadata.dependencies.licenses]]
      type = "EPL-2.0 OR Apache-2.0 OR GPL-2.0 WITH Classpath-exception-2.0 OR LicenseRef-GPL-2.0 WITH Assembly-exception"
      uri = "https://github.com/eclipse/openj9/blob/master/LICENSE"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:eclipse:openj9:0.38.0:*:*:*:*:*:*:*"]
    id = "jre"
    name = "OpenJ9 JRE"
    purl = "pkg:generic/ibmruntimes/semeru-jre@17.0.5"
    sha256 = "ffda41aa8390d14edbce1775d652f0e4e779df025ac1404c1970802697963aab"
    stacks = ["*"]
    uri = "https://github.com/ibmruntimes/semeru17-binaries/releases/download/jdk-17.0.7%2B7_openj9-0.38.0/ibm-semeru-open-jre_x64_linux_17.0.7_7_openj9-0.38.0.tar.gz"
    version = "17.0.7"

    [[metadata.dependencies.licenses]]
      type = "EPL-2.0 OR Apache-2.0 OR GPL-2.0 WITH Classpath-exception-2.0 OR LicenseRef-GPL-2.0 WITH Assembly-exception"
      uri = "https://github.com/eclipse/openj9/blob/master/LICENSE"

[[stacks]]
  id = "*"
